# Python
__pycache__/
*.py[cod]
*.so
*.log
*.egg
*.egg-info/
*.bak

# Venv
venv/
.env

# Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/config.toml

# Model files
*.pkl

# Data files
*.csv
data/prediction_history.csv
data/grafik.png
data/output.pdf

# System
.DS_Store
Thumbs.db
Archive.zip

